/*PRODUTOS DESTAQUES*/

/*TEXTO QUE FICA EM CIMA DOS PRODUTOS*/
/*NA TELA INICIAL SÃO OS TEXTOS "PRODUTOS DESTAQUES" E O "VEJA MAIS"*/
.txtdestaq{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color:#0A242A;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
}
.vejamais{
    font-weight: bold;
    color: #0A242A;
}
.txtdestaq a,h2{
    font-size: 25px;
}
.destaques{
    margin-top: 5%;
    padding: 30px;   
    position: relative;
}

/*CARDS*/
.cards{
    display: flex;
    gap: 3.5rem;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* .imgproduto{
    width: 275px;
    height: 240px;
} */
/* .produto{
    width: 295px;
    height: 380px;
    padding: 10px;
    position: relative;
    border: 1px solid #58585862;
    transition: ease-in-out 0.5s;
    background-color: #fff;
} */
.imgproduto {
    width: 100%;
    height: auto;
    max-height: 240px;
    min-height: 240px;
}
.produto {
    width: 100%;
    max-width: 295px;
    height: auto; 
    min-height: 380px;
    max-height: 400px;
    padding: 10px;
    position: relative;
    border: 1px solid #58585862;
    transition: ease-in-out 0.5s;
    background-color: #fff;
}

.produto:hover{
    transform: scale(1.1);
}
.produto i{
    position: absolute;
    background-color: #1C4C4E;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    right: 0;
    bottom: 0;
    margin: 10px 10px 10px 0px;
}
.produto h3{
    text-transform: uppercase;
    color: #1C4C4E;
    text-align: left;
}
.preco-parcelado label{
    color: #EC9A36;
    font-size: 19px;
}
.preco-parcelado span{
    color: #EC9A36;
    font-weight: 700;
    font-size: 25px;
}
.precoVista{
    color: rgb(90, 90, 90);
    font-size: 17px;
}

/* FORMATAÇÃO NA PAGINA DE PERFIL CSS */
.favoritos-conteiner{
    display: grid;
    grid-template-columns: 25% 25%;
}
.meuspedidos-conteiner{
    display: grid;
    grid-template-columns: 25% 25%;
}
/*RESPONSIVO*/

@media (max-width:1440px) {
    #card5,#card10,#card15{
        display: none;
    }
}
@media (max-width:1372px){
    .cards{
        gap: 1.5rem;
    }
    /* .imgproduto{ 
        width: 250px;
        height: 190px;
    } */
    .produto h3{
        font-size: 15px;
    }
    
}
@media(max-width:1215px){
    #card4,#card9,#card14{
        display: none;
    }
}
@media(max-width:900px){
    .cards{
        flex-direction: column;
    }
    #card4,#card5{
        display: block;
    }
    /* .produto{
        width: 295px;
        height: 370px;
    } */
    /* .imgproduto{
        width: 275px;
    height: 240px;
    } */
}
@media(max-width:700px){
    .txtdestaq a,h2{
        font-size: 19px;
    }
}
@media(max-width:520px){
    .txtdestaq a,h2{
        font-size: 16px;
    }
}
