@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'
}

.produtos{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.catalogo{
  margin-top: 2%;
}
.catalogo p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.catalogo #produto-title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  color: #0A242A;
}
#prev-btn,#next-btn{
  visibility: hidden;
}

.slider label{
  position: absolute;
  background-color: #f7f7f7;
  width: 120px;
  height: 25px;
  border: solid 2px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;

  margin-top: 9rem;
}
.conteiner{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  height: 140px;
}
.img-conteiner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 140px;
}
.img-conteiner ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-conteiner ul img{
 width: 250px;
 height: 140px;
 border-radius: 10px;
} 
.slider{
  list-style: none;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider label{
  cursor: pointer;
}

#txtProd{
text-transform: uppercase;
color: #0b2b32;
font-size: 2rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.txtConteiner{
  width: 80%;
  margin: auto;
  margin-top: 2%;
}
.txtConteiner p{
  text-align: center;
  font-size: 19px;
}


/*RESPONSIVO*/
@media (max-width:1440px) {
  #card5,#card10,#card15{
      display: none;
  }
}

@media (max-width:1372px){
  .cards{
      gap: 1.5rem;
  }
  .imgproduto{
      width: 250px;
      height: 190px;
  }
  .produto{
      width: 275px;
      height: 300px;
      padding: 10px;
      position: relative;
  }
}

@media(max-width:1215px){
  #card4{
      display: none;
  }
  .quemsomos{
      width: 275px; 
      font-size: 17px;
  }
  .suporte{
      width: 275px;
      font-size: 17px;
  }
  .colaboradores{
      width: 275px;
      font-size: 17px;
  }
}

@media(max-width:1135px){
    .slider{
        padding-left: 10px;
    }
}

@media(max-width:1078px){

    .slider label{
        position: absolute;
        background-color: #f7f7f7;
        width: 120px;
        height: 25px;
        border: solid 2px #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
      
        margin-top: 7rem;
      }

      .img-conteiner ul img{
       width: 230px;
       height: 120px;
       border-radius: 10px;
      } 
}

@media(max-width:1040px){
    .slider{
        padding-left: 5px;
    }
}

@media(max-width:970px){

}

@media(max-width:940px){
      .img-conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 140px;
        margin-top: 7rem;
      }
      .img-conteiner ul img{
        width: 250px;
        height: 140px;
        border-radius: 10px;
       }
       .slider label{    
        margin-top: 8rem;
      } 

      .img-conteiner ul{
        display: grid;
        grid-template-columns: 270px 270px ;
      }
      .slider{
        padding: 10px;
    }
    .cards{
        margin-top: 100px;
    }
}

@media(max-width:930px){

}

@media(max-width:916px){

}

@media(max-width:900px){

}

@media(max-width:840px){
  .logos{
      flex-wrap: wrap;
  }
  .emprecard{
      margin-bottom: 5%;
  }
}

@media(max-width:830px){

}
@media(max-width:810px){
  .txtConteiner p{
    font-size: 15px;
  }
}

@media(max-width:776px){

}

@media(max-width:685px){

}

@media(max-width:663px){
    .conteiner{
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: center; 
        width: 100%;
        height: 240px;
    }
    .img-conteiner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 240px;
    }
    .img-conteiner ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-conteiner ul img{
       width: 350px;
       height: 240px;
       border-radius: 10px;
       
    }
    .slider{
        opacity: 0;
        transition:  0.2s;
        position: absolute;
        list-style: none;
        display: flex;
        align-items: center;
    }
    .on{
        opacity: 1;
    }
    .slider label{
        position: absolute;
        background-color: #f7f7f7;
        width: 150px;
        height: 30px;
        border: solid 2px #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;

        margin-top: 15rem;
    }
    #prev-btn, #next-btn{
        width: 50px;
        height: 240px;
        padding: 0;
        background: transparent;
        visibility: visible;
        opacity: .5;
        margin-top: 5.5rem;
        border: none;
        cursor: pointer;
         z-index: 1000;
    }
    #prev-btn i, #next-btn i{
        font-size: 40px;
        z-index: 1000;
    }
    #prev-btn{
        margin-right: 40px;
        z-index: 1000;
    }
    #next-btn{
        margin-left: 50px;
        z-index: 1000;
    }
    .cards{
        margin-top: 50px;
    }
}

@media(max-width:650px){
    #txtProd{
        font-size: 2.5rem;
    }
    .slider label{
        margin-top: 12rem;
    }
    .img-conteiner ul img{
        width: 370px;
        height: 260px;
        border-radius: 10px;
        
     }
     #prev-btn i, #next-btn i{
        font-size: 50px;
        z-index: 1000;
    }
    #prev-btn{
        margin-right: 20px;
        z-index: 1000;
    }
    #next-btn{
        margin-left: 20px;
        z-index: 1000;
}
}
@media(max-width:628px){

}

@media(max-width:597px){

}

@media(max-width:551px){}